@import "tailwindcss";

@theme {
	--text-step--2: clamp(0.72rem, 0.7988rem + -0.0875vw, 0.7813rem);
	--text-step--1: clamp(0.9rem, 0.9482rem + -0.0536vw, 0.9375rem);
	--text-step-0: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
	--text-step-1: clamp(1.35rem, 1.3339rem + 0.0804vw, 1.4063rem);
	--text-step-2: clamp(1.62rem, 1.5806rem + 0.1969vw, 1.7578rem);
	--text-step-3: clamp(1.944rem, 1.8716rem + 0.3618vw, 2.1973rem);
	--text-step-4: clamp(2.3328rem, 2.2146rem + 0.5911vw, 2.7466rem);
	--text-step-5: clamp(2.7994rem, 2.6183rem + 0.9055vw, 3.4332rem);
	--color-red: #C03143;
	--color-green: #17261F;
	--color-blue: #161D30;
	--color-light-grey: #73808D;
	--color-grey: #5D6375;
	--color-dark-grey: #333333;
}

html {
	background-color: #F5F5F3;
	@apply text-grey
}

h1 {
	@apply text-red
}

.work {
	@apply py-16 gap-16;
	h2 {
		@apply text-step-3 font-bold text-green leading-tight
	}
	p {
		@apply text-step-1 flex flex-col w-full
	}
	img {
		@apply self-center
	}
	> div {
		@apply flex flex-col gap-6
	}
}

.about {
	@apply gap-16 pb-16;
	h1 {
		@apply text-step-4
	}
	p {
		@apply text-step-2
	}
	h6 {
		@apply text-step-2 font-bold text-dark-grey
	}
	a {
		@apply text-red
	}
	.links {
		p {
			@apply leading-none
		}
		a {
			@apply text-step-0
		}
	}
}
