@import "tailwindcss";

@font-face {
	font-family: Circular;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('~/assets/font/CircularStd-Book.woff2') format('woff2');
}

@font-face {
	font-family: Circular;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('~/assets/font/CircularStd-Bold.woff2') format('woff2');
}

@theme {
	--breakpoint-xs: 25rem;
	--font-display: 'Circular', 'sans-serif';
	--text-step--2: clamp(0.676rem, 0.8113rem + -0.1503vw, 0.7813rem);
	--text-step--1: clamp(0.8721rem, 0.9562rem + -0.0934vw, 0.9375rem);
	--text-step-0: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
	--text-step-1: clamp(1.35rem, 1.3211rem + 0.1446vw, 1.4513rem);
	--text-step-2: clamp(1.62rem, 1.548rem + 0.3602vw, 1.8721rem);
	--text-step-3: clamp(1.944rem, 1.8094rem + 0.6729vw, 2.415rem);
	--text-step-4: clamp(2.3328rem, 2.1092rem + 1.118vw, 3.1154rem);
	--text-step-5: clamp(2.7994rem, 2.4509rem + 1.7421vw, 4.0188rem);
	--color-light-grey: #F9F9F9;
	--color-grey: #5D6375;
	--color-dark-grey: #333333;
	--color-blue: #2E90FA;
	--color-dark-blue: #1570EF;
	--color-green: #12B76A;
	--color-dark-green: #039855;
	--shadow-floating-cursor: 4px 4px 10px 0px;
	--p-leading: 180%;
}

body {
	@apply text-step-0 text-grey font-display
}

h1, a {
	@apply text-dark-grey
}

a:hover {
	@apply underline
}

button {
	@apply cursor-pointer
}

.container {
	@apply max-w-[1100px] mx-auto px-4 flex flex-col
}

.prose {
	@apply flex flex-col gap-4;
	p, h2, h3, h4, h5, h6 {
		@apply max-w-[848px] mx-auto w-full
	}
	h2, h3, h4, h5, h6 {
		@apply font-bold
	}
	p {
		@apply leading-(--p-leading)
	}
	h2 {
		@apply text-dark-grey text-step-3
	}
	h3 {
		@apply text-step--1
	}
	h6 {
		@apply text-step--2 text-center
	}
}
